#hintDiv {
    margin-top: 100px;
    position:relative;
    float: right;
    outline: 1px solid black;
}

.userInput {
    font-weight: bold;
    width: 600px;
    height: 200px;
    float: right;
    position: relative;
    bottom: 50px;
    margin-top:70px;
}

#userAnswerDiv{
    float: left;
    margin-top:30px;
}

#userInputDiv .span{
    font-style: italic;
}

.answer {
    margin-top:30px;
    float: left;
}

.myxblock_block .count {
    font-weight: bold;
}

.myxblock_block p {
    cursor: pointer;
}

#subjectDiv {
    display: table;
    margin: 10px 0px;
    border: solid red 1px;
}

#tagsDiv {
    display: table;
    margin: 10px 0px;
    border: solid red 1px;
}

#userExternalInput {
    float: right;
    display: table;
    border: solid red 1px;
}

/*
::-moz-selection {
    color: red;
    background: yellow;
}

::selection {
    color: red;
    background: yellow;
}
*/

