.userInput {
    font-weight: bold;
    width: 600px;
    height: 200px;
    float: right;
    position: relative;
    bottom: 50px;
    margin-top:70px;
}

.readOnly {
    color: #999 !important;
    background: #e0e0e0 !important;
}

.extraSpace {
    padding: 10px;
}

.increaseInputSpace {
    width: 60% !important;
}

.checkboxSize {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

#checkBoxList {
    font-weight: bold;
    width: 10px;
    height: 200px;
    float: left;
    position: relative;
    bottom: 50px;
    margin-top:75px;
}

#lineList{
    font-weight: bold;
    height: 200px;
    float: right;
    position: relative;
    bottom: 50px;
    margin-top:75px;
    margin-right: 100px;
}

#checkBoxList, #lineList{
    list-style-type: none;
}

#userAnswerDiv{
    float: left;
    margin-top:30px;

    display: table;
    margin: 80px 0px;
}

#userInputDiv .span{
    font-style: italic;
}

.answer {
    margin-top:30px;
    float: left;
    color: white;
    background-color: green !important;
    background-image:none !important;
    padding: 15px 32px;
    text-align: center;
    border-radius: 8px;
}

.answer {
    background-color:#025002 !important;
    background-image:none !important;
}

#prevHint, #nextHint {
    float: right;

}

#prevHint, #nextHint, #hintButton, #addLine, #removeLine, #askQuestion{
    background-color: #0075b4 !important;
    background-image:none !important;
    color: white;
    padding: 8px 16px;
    text-align: center;
    border-radius: 8px;
}

#prevHint button:focus, #nextHint button:focus, #hintButton button:focus, #addLine button:focus, #removeLine button:focus, #askQuestion button:focus{
    background-color:#014f7a !important;
    background-image:none !important;
}

.myxblock_block .count {
    font-weight: bold;
}

.myxblock_block p {
    cursor: pointer;
}

#subjectDiv {
    display: table;
    margin: 10px 0px;
    border: solid darkblue 1px;
}

#subjectDiv, #questionDiv, #tagsDiv, #descriptionDiv {
    padding: 5px;
}

#tagsDiv {
    display: table;
    margin: 10px 0px;
    border: solid darkgreen 1px;
}

#hintDiv {
    float: right;
    position: relative;
    display: table;
    max-width: 400px;
}

#helpButtonDiv {
    float: left;
    position: relative;
    display: table;
}

#hintButton {
    margin-top:0px;
}

#hint {
    margin: 0px 0px 40px 0px;
    border: solid black 1px;
    min-width: 400px;
    min-height: 100px;
    max-width: 400px;
    max-height: 100px;
    display: inline-block;
}

#hintButtonsDiv {
    position: absolute;
    bottom: 0;
    float: center;
    display: table;
}

#userExternalInput {
    padding: 10px;
    float: right;
    display: table;
    border: solid gray 1px;
}

.radioAnswer{
    margin: 10px 5px;
}

.graphModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 100px;  Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#loadingMessage {
    display: none;
}

#errorMessage {
    display: none;
}

#dialog {
    display: none;
}

.graphModalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    float: left;
    overflow: auto; /* Enable scroll if needed */
}

.nodeMenu {
    display: none; /* Hidden by default */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    float: right;
}

.edgeMenu {
    display: none; /* Hidden by default */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    float: right;
}

.addMenu {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    float: right;
}

#saveGraph {
    float: right;
}

.inputLong {
    width: 100% !important;
}

.closeGraphModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#askQuestion {
    margin-top: 20px;
    margin-right: 200px;
}

#addLine, #removeLine {
    margin-bottom: 10px;
}
