#hintDiv {
    margin-top: 100px;
    position:relative;
    float: left;
}

.userInput {
    font-weight: bold;
    width: 600px;
    height: 200px;
    float: right;
    position: relative;
    bottom: 50px;
    margin-top:70px;
}

#userAnswerDiv{
    margin-top:30px;
}

.answer {
    margin-top:30px;
    float: left;
}

.myxblock_block .count {
    font-weight: bold;
}

.myxblock_block p {
    cursor: pointer;
}
